body{
 	background: green;
 }
.titulo{
	font-size: 1rem;
	color: tomato;
}
.img{
	width: 50%
}

@media (min-width: 600px) {
 	.titulo{
		font-size: 2rem;
		color: tomato;
	}
 	body{
 		background: yellow
 	}
}

@media (min-width: 800px) {
 	.titulo{
		font-size: 3rem;
		color: yellow;
	}
	.img{
		width: 50%

	}
	body{
 		background: red;
 	}
}