body{
 	margin:0px auto;
 	width: 960px;
 	
}
.sidebar{
 	width: 250px;
 	padding-left:50px;
 	box-sizing: border-box;
 	color: white;
 	background-color:black;
 	display: table-cell;
}
.main{
 	margin-left:250px;
 	padding: 0 50px 0 50px;
 	display: table-cell;
}